# Mais sobre `SELECT`

- temporary tables
- views
- variables
- subqueries

In [1]:
from functools import partial
from dotenv import load_dotenv
import insperautograder.jupyter as ia
import mysql.connector
import os

load_dotenv(override=True)

connection = mysql.connector.connect(
    host=os.getenv("MD_DB_SERVER"),
    user=os.getenv("MD_DB_USERNAME"),
    password=os.getenv("MD_DB_PASSWORD"),
    database="sakila"
)

def run_db_query(connection, query, args=None):
    with connection.cursor() as cursor:
        print("Executando query:")
        cursor.execute(query, args)
        for result in cursor:
            print(result)

db = partial(run_db_query, connection)

## Exercícios para entrega

Esta aula tem atividade para entrega, confira os prazos e exercícios

In [2]:
ia.tasks()

|    | Atividade    | De                        | Até                              |
|---:|:-------------|:--------------------------|:---------------------------------|
|  0 | newborn      | 2024-02-01 03:00:00+00:00 | 2024-05-30 03:00:00+00:00        |
|  1 | select01     | 2024-02-08 03:00:00+00:00 | 2024-02-19 02:59:59+00:00        |
|  2 | ddl          | 2024-02-22 03:00:00+00:00 | 2024-02-27 02:59:59+00:00        |
|  3 | dml          | 2024-02-26 03:00:00+00:00 | 2024-03-03 02:59:59+00:00        |
|  4 | group_having | 2024-02-29 03:00:00+00:00 | 2024-03-12 02:59:59+00:00        |
|  5 | views        | 2024-02-29 03:00:00+00:00 | 2024-03-16 02:59:59+00:00        |
|  6 | agg_join     | 2024-02-29 03:00:00+00:00 | 2024-03-05 02:59:59+00:00        |
|  7 | sql_review1  | 2024-03-11 03:00:00+00:00 | 2024-03-17 02:59:21.153000+00:00 |

In [3]:
ia.grades(by="task")

|    | Tarefa       |   Nota |
|---:|:-------------|-------:|
|  0 | agg_join     |  10    |
|  1 | ddl          |   8.89 |
|  2 | dml          |  10    |
|  3 | group_having |  10    |
|  4 | newborn      |  10    |
|  5 | select01     |  10    |
|  6 | sql_review1  |   0    |
|  7 | views        |   0    |

In [4]:
ia.grades(task="views")

|    | Atividade   | Exercício   |   Peso |   Nota |
|---:|:------------|:------------|-------:|-------:|
|  0 | views       | ex01        |      1 |      0 |
|  1 | views       | ex02        |      1 |      0 |
|  2 | views       | ex03        |      1 |      0 |
|  3 | views       | ex04        |      1 |      0 |
|  4 | views       | ex05        |      1 |      0 |
|  5 | views       | ex06        |      1 |      0 |
|  6 | views       | ex07        |      1 |      0 |
|  7 | views       | ex08        |      1 |      0 |
|  8 | views       | ex09        |      1 |      0 |
|  9 | views       | ex10        |      1 |      0 |
| 10 | views       | ex11        |      1 |      0 |
| 11 | views       | ex12        |      1 |      0 |

## Aquecimento

Quanta receita foi gerada para cada categoria de filmes? Mostre o nome da categoria e a receita. Ordene da maior receita para para a menor.

In [7]:
sql_ex01 = """
SELECT c.name, sum(p.amount) as receita from category as c
inner join film_category as fc on c.category_id = fc.category_id
inner join film as f on fc.film_id = f.film_id
inner join inventory as i on i.film_id = f.film_id
inner join rental as r on r.inventory_id = i.inventory_id
inner join payment as p on r.rental_id = p.rental_id
GROUP BY c.name
ORDER BY receita DESC;
"""

db(sql_ex01)

Executando query:
('Sports', Decimal('5314.21'))
('Sci-Fi', Decimal('4756.98'))
('Animation', Decimal('4656.30'))
('Drama', Decimal('4587.39'))
('Comedy', Decimal('4383.58'))
('Action', Decimal('4375.85'))
('New', Decimal('4351.62'))
('Games', Decimal('4281.33'))
('Foreign', Decimal('4270.67'))
('Family', Decimal('4226.07'))
('Documentary', Decimal('4217.52'))
('Horror', Decimal('3722.54'))
('Children', Decimal('3655.55'))
('Classics', Decimal('3639.59'))
('Travel', Decimal('3549.64'))
('Music', Decimal('3417.72'))

In [8]:
ia.sender(answer="sql_ex01", task="views", question="ex01", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex01', style=ButtonStyle()), Output()), _dom_classes=('widget…

Liste os 10 filmes mais alugados e o numero de vezes em que foram alugados. Ordene do mais alugado para o menos alugado.

In [9]:
sql_ex02 = """
SELECT f.title, count(i.film_id) as count from rental as r
INNER JOIN inventory as i on i.inventory_id = r.inventory_id
INNER JOIN film as f ON i.film_id = f.film_id
GROUP BY f.film_id
ORDER BY count DESC
LIMIT 10;
"""

db(sql_ex02)

Executando query:
('BUCKET BROTHERHOOD', 34)
('ROCKETEER MOTHER', 33)
('RIDGEMONT SUBMARINE', 32)
('GRIT CLOCKWORK', 32)
('SCALAWAG DUCK', 32)
('JUGGLER HARDLY', 32)
('FORWARD TEMPLE', 32)
('HOBBIT ALIEN', 31)
('ROBBERS JOON', 31)
('ZORRO ARK', 31)

In [10]:
ia.sender(answer="sql_ex02", task="views", question="ex02", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex02', style=ButtonStyle()), Output()), _dom_classes=('widget…

**DESAFIO:** Liste os filmes e o numero de vezes em que foram alugados apenas para filmes que foram alugados mais do que a média de numero de alugueis por filme. *Dica*: Serão necessários múltiplos SELECTs. Faça cada um em uma célula diferente.

In [ ]:
db("""
-- SUA QUERY AQUI!
""")
db("""
-- SUA QUERY AQUI!
""")
db("""
-- SUA QUERY AQUI!
""")
db("""
-- SUA QUERY AQUI!
""")

In [16]:
connection.close()

## Views

Uma *view* é uma tabela virtual, construida a partir de um comando `SELECT`. Por exemplo: execute o código a seguir.

In [11]:
db("""
DROP VIEW IF EXISTS movie_count;
""")

db("""
CREATE VIEW movie_count AS
    SELECT 
        title, COUNT(rental_id) as cnt
    FROM
        film
        LEFT OUTER JOIN inventory USING (film_id)
        LEFT OUTER JOIN rental USING (inventory_id)
    GROUP BY
        film_id
    ORDER BY
        cnt ASC;
""")

Executando query:
Executando query:

Agora temos uma *view* chamada `movie_count`. Vamos verificar que ela funcionou, listando as 30 primeiras linhas:

In [12]:
db("""
SELECT 
    *
FROM
    movie_count 
LIMIT 
    30
""")

Executando query:
('ALICE FANTASIA', 0)
('APOLLO TEEN', 0)
('ARGONAUTS TOWN', 0)
('ARK RIDGEMONT', 0)
('ARSENIC INDEPENDENCE', 0)
('BOONDOCK BALLROOM', 0)
('BUTCH PANTHER', 0)
('CATCH AMISTAD', 0)
('CHINATOWN GLADIATOR', 0)
('CHOCOLATE DUCK', 0)
('COMMANDMENTS EXPRESS', 0)
('CROSSING DIVORCE', 0)
('CROWDS TELEMARK', 0)
('CRYSTAL BREAKING', 0)
('DAZED PUNK', 0)
('DELIVERANCE MULHOLLAND', 0)
('FIREHOUSE VIETNAM', 0)
('FLOATS GARDEN', 0)
('FRANKENSTEIN STRANGER', 0)
('GLADIATOR WESTWARD', 0)
('GUMP DATE', 0)
('HATE HANDICAP', 0)
('HOCUS FRIDA', 0)
('KENTUCKIAN GIANT', 0)
('KILL BROTHERHOOD', 0)
('MUPPET MILE', 0)
('ORDER BETRAYED', 0)
('PEARL DESTINY', 0)
('PERDITION FARGO', 0)
('PSYCHO SHRUNK', 0)

In [13]:
db("""
SELECT 
    * 
FROM 
    movie_count 
ORDER BY
    cnt DESC
LIMIT 30
""")

Executando query:
('BUCKET BROTHERHOOD', 34)
('ROCKETEER MOTHER', 33)
('JUGGLER HARDLY', 32)
('GRIT CLOCKWORK', 32)
('FORWARD TEMPLE', 32)
('SCALAWAG DUCK', 32)
('RIDGEMONT SUBMARINE', 32)
('ZORRO ARK', 31)
('WIFE TURN', 31)
('TIMBERLAND SKY', 31)
('RUSH GOODFELLAS', 31)
('ROBBERS JOON', 31)
('NETWORK PEAK', 31)
('HOBBIT ALIEN', 31)
('GOODFELLAS SALUTE', 31)
('APACHE DIVINE', 31)
('WITCHES PANIC', 30)
('SUSPECTS QUILLS', 30)
('SHOCK CABIN', 30)
('RUGRATS SHAKESPEARE', 30)
('PULP BEVERLY', 30)
('MUSCLE BRIGHT', 30)
('MASSACRE USUAL', 30)
('MARRIED GO', 30)
('IDOLS SNATCHERS', 30)
('HARRY IDAHO', 30)
('GRAFFITI LOVE', 30)
('FROST HEAD', 30)
('ENGLISH BULWORTH', 30)
('DOGMA FAMILY', 30)

Agora suponha que alteramos a tabela `film`, mudando o nome do filme "DAZED PUNK" para "STONED PUNK".

**Atividade**: Do it.

In [ ]:
db("""
-- SUA QUERY AQUI!
""")

Verifique agora a nossa *view*:

In [ ]:
db("""
SELECT
    *
FROM
    movie_count
LIMIT
    30
""")

Como você pode ver, as views são tabelas virtuais que são **automaticamente atualizadas quando as tabelas originais são modificadas**.

Sempre que você realizar modificações nos dados, dê `commit` ou `rollback`. Ainda, evite executar múltiplas vezes as linhas de código que criem a conexão sem antes ter fechado a conexão ativa.

Vamos desfazer as alterações:

In [14]:
connection.rollback()

Conferindo:

In [15]:
db("""
SELECT
    *
FROM
    movie_count
LIMIT
    30
""")

Executando query:
('ALICE FANTASIA', 0)
('APOLLO TEEN', 0)
('ARGONAUTS TOWN', 0)
('ARK RIDGEMONT', 0)
('ARSENIC INDEPENDENCE', 0)
('BOONDOCK BALLROOM', 0)
('BUTCH PANTHER', 0)
('CATCH AMISTAD', 0)
('CHINATOWN GLADIATOR', 0)
('CHOCOLATE DUCK', 0)
('COMMANDMENTS EXPRESS', 0)
('CROSSING DIVORCE', 0)
('CROWDS TELEMARK', 0)
('CRYSTAL BREAKING', 0)
('DAZED PUNK', 0)
('DELIVERANCE MULHOLLAND', 0)
('FIREHOUSE VIETNAM', 0)
('FLOATS GARDEN', 0)
('FRANKENSTEIN STRANGER', 0)
('GLADIATOR WESTWARD', 0)
('GUMP DATE', 0)
('HATE HANDICAP', 0)
('HOCUS FRIDA', 0)
('KENTUCKIAN GIANT', 0)
('KILL BROTHERHOOD', 0)
('MUPPET MILE', 0)
('ORDER BETRAYED', 0)
('PEARL DESTINY', 0)
('PERDITION FARGO', 0)
('PSYCHO SHRUNK', 0)

### Vamos praticar

Verifique quantas vezes o filme "COWBOY DOOM" foi alugado usando a view `movie_count`

In [19]:
sql_ex03 = '''
SELECT cnt from movie_count as mc
where mc.title = "COWBOY DOOM"
'''

db(sql_ex03)

Executando query:
(7,)

In [20]:
ia.sender(answer="sql_ex03", task="views", question="ex03", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex03', style=ButtonStyle()), Output()), _dom_classes=('widget…

Registre um aluguel do filme "COWBOY DOOM" (com o menor id possível), feito pelo funcionario "Jon Stephens" na loja id=1 para o cliente "JESSIE BANKS", na data '2019-01-01', com data de retorno '2019-01-08'.

In [29]:
db('''
SELECT staff_id INTO @sid from staff as s
where s.first_name = "Jon" AND s.last_name = "Stephens";
''')
db('''
SELECT customer_id INTO @cid from customer as c
where c.first_name = "JESSIE" AND c.last_name = "BANKS";
''')
db('''
SELECT i.inventory_id INTO @iid FROM inventory as i
INNER JOIN film as f ON f.film_id = i.film_id
WHERE f.title = "COWBOY DOOM" AND i.store_id = 1
LIMIT 1;
''')

Executando query:
Executando query:
Executando query:
Executando query:

In [35]:
sql_ex04 = """
INSERT INTO rental (customer_id, staff_id, inventory_id, rental_date, return_date)
VALUES (

(SELECT customer_id from customer as c
where c.first_name = "JESSIE" AND c.last_name = "BANKS"), 
(SELECT staff_id from staff as s
where s.first_name = "Jon" AND s.last_name = "Stephens"), 
(SELECT i.inventory_id FROM inventory as i
INNER JOIN film as f ON f.film_id = i.film_id
WHERE f.title = "COWBOY DOOM" AND i.store_id = 1
LIMIT 1), 

"2019-01-01", "2019-01-08");
"""

db(sql_ex04)

Executando query:

In [36]:
ia.sender(answer="sql_ex04", task="views", question="ex04", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex04', style=ButtonStyle()), Output()), _dom_classes=('widget…

In [32]:
connection.close()

Verifique usando a view que a contagem de alugueis do filme subiu.

In [ ]:
db("""
-- SUA QUERY AQUI!
""")

Faça o *rollback* desta alteração, para não modificar a nossa querida base de dados *sakila*.

In [37]:
connection.rollback()

## Tabelas temporárias

Tabelas temporárias podem ser criadas para ajudar nas tarefas de manipulação de dados. Essas tabelas existem apenas pela duração da sessão. Para criar uma tabela temporária, basta adicionar a palavra-chave `TEMPORARY` no momento da criação.

É comum criar tabelas temporárias à partir do resultado de comandos `SELECT`. Por exemplo, a seguinte query permite montar uma tabela temporária com os filmes que duram mais que 3 horas:

In [ ]:
db("""
DROP TABLE IF EXISTS long_film
""")

db("""
CREATE TEMPORARY TABLE long_film 
    SELECT
        *
    FROM
        film
    WHERE
        film.length > 180;
""")

Podemos verificar que a tabela `long_film` agora existe:

In [ ]:
db("DESCRIBE long_film")

In [ ]:
db("CALL sys.table_exists('sakila', 'long_film', @table_type);")
db("SELECT @table_type;")

Muito embora ela não apareça na lista de tabelas: isso é um bug do MySQL. (https://dev.mysql.com/worklog/task/?id=648)

In [ ]:
db("SHOW TABLES")

Vamos listar o conteudo desta tabela:

In [ ]:
db("SELECT title FROM long_film")

Vamos apagar a tabela `long_film`:

In [ ]:
db("DROP TABLE long_film")

### Vamos praticar

- Crie uma tabela temporária `max_duration` que contém a duração máxima de filme para cada categoria. Apresente o id da categoria, seu nome e a duração máxima.

In [39]:
# Executamos o DROP apenas localmente, sem enviar ao servidor
db("DROP TABLE IF EXISTS max_duration")

sql_ex05 = """
CREATE TEMPORARY TABLE max_duration
    SELECT
        c.category_id, c.name, MAX(f.length) as max_length
    FROM
        film as f
    INNER JOIN film_category as fc ON f.film_id = fc.film_id
    INNER JOIN category as c ON fc.category_id = c.category_id
    GROUP BY c.category_id;
"""

db(sql_ex05)

Executando query:
Executando query:

In [40]:
ia.sender(answer="sql_ex05", task="views", question="ex05", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex05', style=ButtonStyle()), Output()), _dom_classes=('widget…

 - Verifique a tabela.

In [41]:
db("SELECT * FROM max_duration")

Executando query:
(1, 'Action', 185)
(2, 'Animation', 185)
(3, 'Children', 178)
(4, 'Classics', 184)
(5, 'Comedy', 185)
(6, 'Documentary', 183)
(7, 'Drama', 181)
(8, 'Family', 184)
(9, 'Foreign', 184)
(10, 'Games', 185)
(11, 'Horror', 181)
(12, 'Music', 185)
(13, 'New', 183)
(14, 'Sci-Fi', 185)
(15, 'Sports', 184)
(16, 'Travel', 185)

In [ ]:
db("DESCRIBE max_duration")

- Agora use a tabela temporária para construir uma consulta com as categorias e seus respectivos filmes mais longos:

In [42]:
db("""
SELECT
    category_id, name, film_id, title, length
FROM
    film
    INNER JOIN film_category USING (film_id)
    INNER JOIN max_duration USING (category_id)
WHERE
    length = max_len
""")

Executando query:

ProgrammingError: 1054 (42S22): Unknown column 'max_len' in 'where clause'

- delete a tabela temporária

In [43]:
db("""
DROP TABLE max_duration
""")

Executando query:

## Variáveis

Podemos montar uma query que retorne um valor só e armazenar este valor em uma variável, para uso posterior em outras queries. Para isso vamos usar o prefixo '@' para indicar variáveis, e o comando `SELECT ... INTO`.

Exemplo: quais são os filmes "caros" da nossa base sakila? Vamos descobrir quais filmes custam mais que um desvio padrão acima da média de preços de locação.

Primeiro vamos calcular a média e o desvio padrão dos preços de aluguel:

In [ ]:
db("""
SELECT 
    AVG(rental_rate), 
    STDDEV(rental_rate)
INTO 
    @avg_rate, 
    @stddev_rate 
FROM
    film;
""")

Note que a query não retorna um resultado: o resultado foi armazenado direto nas variáveis `@avg_rate` e `@stddev_rate`. Vamos usar um `SELECT` sem tabelas para ver o resultado:

In [ ]:
db("SELECT @avg_rate, @stddev_rate")

Agora podemos selecionar os filmes caros!

In [ ]:
db("""
SELECT 
    title, rental_rate
FROM
    film
WHERE
    rental_rate > @avg_rate + @stddev_rate
LIMIT 10
""")

In [ ]:
connection.close()

### Vamos praticar

Armazene na variável temporária `max_films` a quantidade de filmes feitos pelo ator ou atriz que mais participou de filmes.

In [30]:
sql_ex06 = """
SELECT count(fa.film_id) AS m INTO @max_films FROM actor as a
INNER JOIN film_actor as fa on fa.actor_id = a.actor_id
GROUP BY a.actor_id
ORDER BY m DESC
LIMIT 1;
"""

db(sql_ex06)

Executando query:

In [31]:
db("""
SELECT @max_films
""")

Executando query:
(42,)

In [32]:
ia.sender(answer="sql_ex06", task="views", question="ex06", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex06', style=ButtonStyle()), Output()), _dom_classes=('widget…

## Operador `IN`

Suponha que desejamos listar todos os filmes dos 3 atores mais populares. Podemos começar listando os 3 atores mais populares:

In [ ]:
db("""
SELECT 
    actor_id, first_name, last_name, COUNT(film_id) AS num_films
FROM
    actor
    INNER JOIN film_actor USING (actor_id)
GROUP BY 
    actor_id
ORDER BY 
    num_films DESC
LIMIT 3
""")

Vamos criar uma tabela temporária para guardar a informação de `actor_id` desses atores:

In [ ]:
db("DROP TABLE IF EXISTS temp_pop_actors")
db("""
CREATE TEMPORARY TABLE temp_pop_actors
    SELECT first_name, last_name, actor_id FROM
        actor
        INNER JOIN film_actor USING (actor_id)
    GROUP BY 
        actor_id
    ORDER BY 
        COUNT(film_id) DESC
    LIMIT 3
""")
db("""
SELECT * from temp_pop_actors
""")

Por fim, vamos usar essa informação para listar os filmes dos atores populares:

In [ ]:
db("""
SELECT DISTINCT
    title
FROM
    film
    INNER JOIN film_actor USING (film_id)
WHERE
    actor_id IN (SELECT actor_id FROM temp_pop_actors);
""")

Note o uso de *subqueries*!

Não se esqueça de limpar tudo no final!

In [ ]:
db("DROP TABLE temp_pop_actors")

### Vamos praticar

Liste os atores (id, nome e sobrenome) que participaram dos 3 filmes mais rentáveis (aqueles que mais geraram receita para a locadora) ordenados pelo id do ator de modo crescente. Para isso, crie uma tabela temporária contendo o id do filme e a quantia total e use essa tabela para listar os atores.

In [3]:
db("""
CREATE TEMPORARY TABLE most_rentable
    SELECT
        f.film_id as film_id, SUM(p.amount) as revenue
    FROM
        film as f
    INNER JOIN film_category as fc ON f.film_id = fc.film_id
    INNER JOIN inventory as i on i.film_id = f.film_id
    INNER JOIN rental as r on r.inventory_id = i.inventory_id
    inner join payment as p on r.rental_id = p.rental_id
    GROUP BY f.film_id
    ORDER by revenue DESC
    LIMIT 3;
""")
db("""
SELECT a.actor_id, a.first_name, a.last_name FROM most_rentable as mr
INNER JOIN film_actor as fa ON fa.film_id = mr.film_id
INNER JOIN actor as a ON fa.actor_id = a.actor_id;
""")

Executando query:
Executando query:
(28, 'WOODY', 'HOFFMAN')
(52, 'CARMEN', 'HUNT')
(107, 'GINA', 'DEGENERES')
(138, 'LUCILLE', 'DEE')
(158, 'VIVIEN', 'BASINGER')
(174, 'MICHAEL', 'BENING')
(200, 'THORA', 'TEMPLE')
(28, 'WOODY', 'HOFFMAN')
(47, 'JULIA', 'BARRYMORE')
(107, 'GINA', 'DEGENERES')
(111, 'CAMERON', 'ZELLWEGER')
(157, 'GRETA', 'MALDEN')
(185, 'MICHAEL', 'BOLGER')
(155, 'IAN', 'TANDY')
(166, 'NICK', 'DEGENERES')
(178, 'LISA', 'MONROE')

In [6]:
sql_ex07 = ["""
CREATE TEMPORARY TABLE most_rentable
    SELECT
        f.film_id as film_id, SUM(p.amount) as revenue
    FROM
        film as f
    INNER JOIN film_category as fc ON f.film_id = fc.film_id
    INNER JOIN inventory as i on i.film_id = f.film_id
    INNER JOIN rental as r on r.inventory_id = i.inventory_id
    inner join payment as p on r.rental_id = p.rental_id
    GROUP BY f.film_id
    ORDER by revenue DESC
    LIMIT 3;
""",
"""
SELECT DISTINCT a.actor_id, a.first_name, a.last_name FROM most_rentable as mr
INNER JOIN film_actor as fa ON fa.film_id = mr.film_id
INNER JOIN actor as a ON fa.actor_id = a.actor_id
ORDER BY a.actor_id;
"""]

ia.sender(answer="sql_ex07", task="views", question="ex07", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex07', style=ButtonStyle()), Output()), _dom_classes=('widget…

## Subqueries

Os tópicos discutidos acima poderiam ser resolvidos, em grande parte, com subqueries. As subqueries são queries `SELECT` criadas dentro de outras queries. 

Poderíamos ter usado subqueries nos mesmos lugares onde usamos tabelas temporárias, nos tópicos acima. Quando a subquery pode ser transformada em uma tabela temporária independente, separada da query exterior, dizemos que a subquery é **não-correlacionada** com a query exterior.

Usar subqueries não-correlacionadas é um tópico controverso: podemos sempre usar uma tabela temporária ou, ás vezes, pensar em um `JOIN` simples. Aliás, muitas vezes o otimizador de queries do banco de dados transformará a subquery em `JOIN`, se isso for vantajoso em termos de desempenho.

Uma subquery que depende da query externa (e portanto não pode ser separada em uma tabela temporária independente) é chamada de **subquery correlacionada**. Nestes casos podemos ter que executar a subquery para cada linha da query exterior!

### Vamos praticar

Vamos refazer a atividade dos atores dos filmes mais rentáveis, usando subqueries. 

Temos um problema: o MySQL não suporta ``LIMIT`` em subqueries com o operador ``IN``. Vamos investigar isso mais de perto. 

Em primeiro lugar faça uma tradução direta da implementação da atividade anterior trocando tabela temporária por subquery.

In [8]:
try:
    db('''
SELECT DISTINCT a.actor_id, a.first_name, a.last_name FROM (
    SELECT
        f.film_id as film_id, SUM(p.amount) as revenue
    FROM
        film as f
    INNER JOIN film_category as fc ON f.film_id = fc.film_id
    INNER JOIN inventory as i on i.film_id = f.film_id
    INNER JOIN rental as r on r.inventory_id = i.inventory_id
    inner join payment as p on r.rental_id = p.rental_id
    GROUP BY f.film_id
    ORDER by revenue DESC
) as mr
INNER JOIN film_actor as fa ON fa.film_id = mr.film_id
INNER JOIN actor as a ON fa.actor_id = a.actor_id;
    ''')
except mysql.connector.ProgrammingError as e:
    print(f'ProgrammingError: {e}')

Executando query:
(1, 'PENELOPE', 'GUINESS')
(2, 'NICK', 'WAHLBERG')
(3, 'ED', 'CHASE')
(4, 'JENNIFER', 'DAVIS')
(5, 'JOHNNY', 'LOLLOBRIGIDA')
(6, 'BETTE', 'NICHOLSON')
(7, 'GRACE', 'MOSTEL')
(8, 'MATTHEW', 'JOHANSSON')
(9, 'JOE', 'SWANK')
(10, 'CHRISTIAN', 'GABLE')
(11, 'ZERO', 'CAGE')
(12, 'KARL', 'BERRY')
(13, 'UMA', 'WOOD')
(14, 'VIVIEN', 'BERGEN')
(15, 'CUBA', 'OLIVIER')
(16, 'FRED', 'COSTNER')
(17, 'HELEN', 'VOIGHT')
(18, 'DAN', 'TORN')
(19, 'BOB', 'FAWCETT')
(20, 'LUCILLE', 'TRACY')
(21, 'KIRSTEN', 'PALTROW')
(22, 'ELVIS', 'MARX')
(23, 'SANDRA', 'KILMER')
(24, 'CAMERON', 'STREEP')
(25, 'KEVIN', 'BLOOM')
(26, 'RIP', 'CRAWFORD')
(27, 'JULIA', 'MCQUEEN')
(28, 'WOODY', 'HOFFMAN')
(29, 'ALEC', 'WAYNE')
(30, 'SANDRA', 'PECK')
(31, 'SISSY', 'SOBIESKI')
(32, 'TIM', 'HACKMAN')
(33, 'MILLA', 'PECK')
(34, 'AUDREY', 'OLIVIER')
(35, 'JUDY', 'DEAN')
(36, 'BURT', 'DUKAKIS')
(37, 'VAL', 'BOLGER')
(38, 'TOM', 'MCKELLEN')
(39, 'GOLDIE', 'BRODY')
(40, 'JOHNNY', 'CAGE')
(41, 'JODIE', 'DEGENERES')
(42, 'TOM', 'MIRANDA')
(43, 'KIRK', 'JOVOVICH')
(44, 'NICK', 'STALLONE')
(45, 'REESE', 'KILMER')
(46, 'PARKER', 'GOLDBERG')
(47, 'JULIA', 'BARRYMORE')
(48, 'FRANCES', 'DAY-LEWIS')
(49, 'ANNE', 'CRONYN')
(50, 'NATALIE', 'HOPKINS')
(51, 'GARY', 'PHOENIX')
(52, 'CARMEN', 'HUNT')
(53, 'MENA', 'TEMPLE')
(54, 'PENELOPE', 'PINKETT')
(55, 'FAY', 'KILMER')
(56, 'DAN', 'HARRIS')
(57, 'JUDE', 'CRUISE')
(58, 'CHRISTIAN', 'AKROYD')
(59, 'DUSTIN', 'TAUTOU')
(60, 'HENRY', 'BERRY')
(61, 'CHRISTIAN', 'NEESON')
(62, 'JAYNE', 'NEESON')
(63, 'CAMERON', 'WRAY')
(64, 'RAY', 'JOHANSSON')
(65, 'ANGELA', 'HUDSON')
(66, 'MARY', 'TANDY')
(67, 'JESSICA', 'BAILEY')
(68, 'RIP', 'WINSLET')
(69, 'KENNETH', 'PALTROW')
(70, 'MICHELLE', 'MCCONAUGHEY')
(71, 'ADAM', 'GRANT')
(72, 'SEAN', 'WILLIAMS')
(73, 'GARY', 'PENN')
(74, 'MILLA', 'KEITEL')
(75, 'BURT', 'POSEY')
(76, 'ANGELINA', 'ASTAIRE')
(77, 'CARY', 'MCCONAUGHEY')
(78, 'GROUCHO', 'SINATRA')
(79, 'MAE', 'HOFFMAN')
(80, 'RALPH', 'CRUZ')
(81, 'SCARLETT', 'DAMON')
(82, 'WOODY', 'JOLIE')
(83, 'BEN', 'WILLIS')
(84, 'JAMES', 'PITT')
(85, 'MINNIE', 'ZELLWEGER')
(86, 'GREG', 'CHAPLIN')
(87, 'SPENCER', 'PECK')
(88, 'KENNETH', 'PESCI')
(89, 'CHARLIZE', 'DENCH')
(90, 'SEAN', 'GUINESS')
(91, 'CHRISTOPHER', 'BERRY')
(92, 'KIRSTEN', 'AKROYD')
(93, 'ELLEN', 'PRESLEY')
(94, 'KENNETH', 'TORN')
(95, 'DARYL', 'WAHLBERG')
(96, 'GENE', 'WILLIS')
(97, 'MEG', 'HAWKE')
(98, 'CHRIS', 'BRIDGES')
(99, 'JIM', 'MOSTEL')
(100, 'SPENCER', 'DEPP')
(101, 'SUSAN', 'DAVIS')
(102, 'WALTER', 'TORN')
(103, 'MATTHEW', 'LEIGH')
(104, 'PENELOPE', 'CRONYN')
(105, 'SIDNEY', 'CROWE')
(106, 'GROUCHO', 'DUNST')
(107, 'GINA', 'DEGENERES')
(108, 'WARREN', 'NOLTE')
(109, 'SYLVESTER', 'DERN')
(110, 'SUSAN', 'DAVIS')
(111, 'CAMERON', 'ZELLWEGER')
(112, 'RUSSELL', 'BACALL')
(113, 'MORGAN', 'HOPKINS')
(114, 'MORGAN', 'MCDORMAND')
(115, 'HARRISON', 'BALE')
(116, 'DAN', 'STREEP')
(117, 'RENEE', 'TRACY')
(118, 'CUBA', 'ALLEN')
(119, 'WARREN', 'JACKMAN')
(120, 'PENELOPE', 'MONROE')
(121, 'LIZA', 'BERGMAN')
(122, 'SALMA', 'NOLTE')
(123, 'JULIANNE', 'DENCH')
(124, 'SCARLETT', 'BENING')
(125, 'ALBERT', 'NOLTE')
(126, 'FRANCES', 'TOMEI')
(127, 'KEVIN', 'GARLAND')
(128, 'CATE', 'MCQUEEN')
(129, 'DARYL', 'CRAWFORD')
(130, 'GRETA', 'KEITEL')
(131, 'JANE', 'JACKMAN')
(132, 'ADAM', 'HOPPER')
(133, 'RICHARD', 'PENN')
(134, 'GENE', 'HOPKINS')
(135, 'RITA', 'REYNOLDS')
(136, 'ED', 'MANSFIELD')
(137, 'MORGAN', 'WILLIAMS')
(138, 'LUCILLE', 'DEE')
(139, 'EWAN', 'GOODING')
(140, 'WHOOPI', 'HURT')
(141, 'CATE', 'HARRIS')
(142, 'JADA', 'RYDER')
(143, 'RIVER', 'DEAN')
(144, 'ANGELA', 'WITHERSPOON')
(145, 'KIM', 'ALLEN')
(146, 'ALBERT', 'JOHANSSON')
(147, 'FAY', 'WINSLET')
(148, 'EMILY', 'DEE')
(149, 'RUSSELL', 'TEMPLE')
(150, 'JAYNE', 'NOLTE')
(151, 'GEOFFREY', 'HESTON')
(152, 'BEN', 'HARRIS')
(153, 'MINNIE', 'KILMER')
(154, 'MERYL', 'GIBSON')
(155, 'IAN', 'TANDY')
(156, 'FAY', 'WOOD')
(157, 'GRETA', 'MALDEN')
(158, 'VIVIEN', 'BASINGER')
(159, 'LAURA', 'BRODY')
(160, 'CHRIS', 'DEPP')
(161, 'HARVEY', 'HOPE')
(162, 'OPRAH', 'KILMER')
(163, 'CHRISTOPHER', 'WEST')
(164, 'HUMPHREY', 'WILLIS')
(165, 'AL', 'GARLAND')
(166, 'NICK', 'DEGENERES')
(167, 'LAURENCE', 'BULLOCK')
(168, 'WILL', 'WILSON')
(169, 'KENNETH', 'HOFFMAN')
(170, 'MENA', 'HOPPER')
(171, 'OLYMPIA', 'PFEIFFER')
(172, 'GROUCHO', 'WILLIAMS')
(173, 'ALAN', 'DREYFUSS')
(174, 'MICHAEL', 'BENING')
(175, 'WILLIAM', 'HACKMAN')
(176, 'JON', 'CHASE')
(177, 'GENE', 'MCKELLEN')
(178, 'LISA', 'MONROE')
(179, 'ED', 'GUINESS')
(180, 'JEFF', 'SILVERSTONE')
(181, 'MATTHEW', 'CARREY')
(182, 'DEBBIE', 'AKROYD')
(183, 'RUSSELL', 'CLOSE')
(184, 'HUMPHREY', 'GARLAND')
(185, 'MICHAEL', 'BOLGER')
(186, 'JULIA', 'ZELLWEGER')
(187, 'RENEE', 'BALL')
(188, 'ROCK', 'DUKAKIS')
(189, 'CUBA', 'BIRCH')
(190, 'AUDREY', 'BAILEY')
(191, 'GREGORY', 'GOODING')
(192, 'JOHN', 'SUVARI')
(193, 'BURT', 'TEMPLE')
(194, 'MERYL', 'ALLEN')
(195, 'JAYNE', 'SILVERSTONE')
(196, 'BELA', 'WALKEN')
(197, 'REESE', 'WEST')
(198, 'MARY', 'KEITEL')
(199, 'JULIA', 'FAWCETT')
(200, 'THORA', 'TEMPLE')

Ok, apareceu o problema. Mas considere que o problema original não precisava de IN desde o começo! Construa essa solução.

In [22]:
sql_ex08 = """
SELECT DISTINCT a.actor_id, a.first_name, a.last_name FROM (
    SELECT
        f.film_id as film_id, SUM(p.amount) as revenue
    FROM
        film as f
    INNER JOIN film_category as fc ON f.film_id = fc.film_id
    INNER JOIN inventory as i on i.film_id = f.film_id
    INNER JOIN rental as r on r.inventory_id = i.inventory_id
    inner join payment as p on r.rental_id = p.rental_id
    GROUP BY f.film_id
    ORDER by revenue DESC
    LIMIT 3
) as mr
INNER JOIN film_actor as fa ON fa.film_id = mr.film_id
INNER JOIN actor as a ON fa.actor_id = a.actor_id
ORDER BY a.actor_id;
"""

db(sql_ex08)

Executando query:
(28, 'WOODY', 'HOFFMAN')
(47, 'JULIA', 'BARRYMORE')
(52, 'CARMEN', 'HUNT')
(107, 'GINA', 'DEGENERES')
(111, 'CAMERON', 'ZELLWEGER')
(138, 'LUCILLE', 'DEE')
(155, 'IAN', 'TANDY')
(157, 'GRETA', 'MALDEN')
(158, 'VIVIEN', 'BASINGER')
(166, 'NICK', 'DEGENERES')
(174, 'MICHAEL', 'BENING')
(178, 'LISA', 'MONROE')
(185, 'MICHAEL', 'BOLGER')
(200, 'THORA', 'TEMPLE')

In [20]:
connection.close()

In [23]:
ia.sender(answer="sql_ex08", task="views", question="ex08", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex08', style=ButtonStyle()), Output()), _dom_classes=('widget…

# `UNION`

Quando duas tabelas tem **EXATAMENTE** as mesmas colunas, podemos concatená-las e formar uma grande tabela unificada usando o operador `UNION`. Por exemplo: suponha que desejamos montar uma lista dos nomes e sobrenomes de todos os clientes E de todos os funcionários. Eis uma solução possível:

In [ ]:
db("DROP TABLE IF EXISTS nomes_clientes")
db("""
CREATE TEMPORARY TABLE nomes_clientes 
    SELECT first_name, last_name FROM customer
""")

In [ ]:
db("DESCRIBE nomes_clientes")
db("SELECT * FROM nomes_clientes LIMIT 5")

In [ ]:
db("DROP TABLE IF EXISTS nomes_staff")
db("""
CREATE TEMPORARY TABLE nomes_staff 
    SELECT first_name, last_name FROM staff
""")

In [ ]:
db("DESCRIBE nomes_staff")
db("SELECT * FROM nomes_staff LIMIT 5")

In [ ]:
db("DROP TABLE IF EXISTS nomes_all")
db("""
CREATE TEMPORARY TABLE nomes_all 
    (SELECT * FROM nomes_staff)
    UNION 
    (SELECT * FROM nomes_clientes)
""")

In [ ]:
db("DESCRIBE nomes_all")
db("SELECT * FROM nomes_all LIMIT 5")

In [ ]:
db("DROP TABLE IF EXISTS nomes_clientes")
db("DROP TABLE IF EXISTS nomes_staff")
db("DROP TABLE IF EXISTS nomes_all")

**Vamos praticar:** refaça o exemplo acima mas use *subqueries* ao invés de *temp tables*. Ordene de forma ascendente por first_name e last_name.

In [24]:
sql_ex09 = """
SELECT * FROM (
SELECT first_name, last_name FROM customer
) as c
UNION (
SELECT first_name, last_name FROM staff
)
ORDER BY first_name, last_name;
"""

db(sql_ex09)

Executando query:
('AARON', 'SELBY')
('ADAM', 'GOOCH')
('ADRIAN', 'CLARY')
('AGNES', 'BISHOP')
('ALAN', 'KAHN')
('ALBERT', 'CROUSE')
('ALBERTO', 'HENNING')
('ALEX', 'GRESHAM')
('ALEXANDER', 'FENNELL')
('ALFRED', 'CASILLAS')
('ALFREDO', 'MCADAMS')
('ALICE', 'STEWART')
('ALICIA', 'MILLS')
('ALLAN', 'CORNISH')
('ALLEN', 'BUTTERFIELD')
('ALLISON', 'STANLEY')
('ALMA', 'AUSTIN')
('ALVIN', 'DELOACH')
('AMANDA', 'CARTER')
('AMBER', 'DIXON')
('AMY', 'LOPEZ')
('ANA', 'BRADLEY')
('ANDRE', 'RAPP')
('ANDREA', 'HENDERSON')
('ANDREW', 'PURDY')
('ANDY', 'VANHORN')
('ANGEL', 'BARCLAY')
('ANGELA', 'HERNANDEZ')
('ANITA', 'MORALES')
('ANN', 'EVANS')
('ANNA', 'HILL')
('ANNE', 'POWELL')
('ANNETTE', 'OLSON')
('ANNIE', 'RUSSELL')
('ANTHONY', 'SCHWAB')
('ANTONIO', 'MEEK')
('APRIL', 'BURNS')
('ARLENE', 'HARVEY')
('ARMANDO', 'GRUBER')
('ARNOLD', 'HAVENS')
('ARTHUR', 'SIMPKINS')
('ASHLEY', 'RICHARDSON')
('AUDREY', 'RAY')
('AUSTIN', 'CINTRON')
('BARBARA', 'JONES')
('BARRY', 'LOVELACE')
('BEATRICE', 'ARNOLD')
('BECKY', 'MILES')
('BEN', 'EASTER')
('BENJAMIN', 'VARNEY')
('BERNARD', 'COLBY')
('BERNICE', 'WILLIS')
('BERTHA', 'FERGUSON')
('BESSIE', 'MORRISON')
('BETH', 'FRANKLIN')
('BETTY', 'WHITE')
('BEVERLY', 'BROOKS')
('BILL', 'GAVIN')
('BILLIE', 'HORTON')
('BILLY', 'POULIN')
('BOB', 'PFEIFFER')
('BOBBIE', 'CRAIG')
('BOBBY', 'BOUDREAU')
('BONNIE', 'HUGHES')
('BRAD', 'MCCURDY')
('BRADLEY', 'MOTLEY')
('BRANDON', 'HUEY')
('BRANDY', 'GRAVES')
('BRENDA', 'WRIGHT')
('BRENT', 'HARKINS')
('BRETT', 'CORNWELL')
('BRIAN', 'WYMAN')
('BRITTANY', 'RILEY')
('BRUCE', 'SCHWARZ')
('BRYAN', 'HARDISON')
('BYRON', 'BOX')
('CALVIN', 'MARTEL')
('CARL', 'ARTIS')
('CARLA', 'GUTIERREZ')
('CARLOS', 'COUGHLIN')
('CARMEN', 'OWENS')
('CAROL', 'GARCIA')
('CAROLE', 'BARNETT')
('CAROLINE', 'BOWMAN')
('CAROLYN', 'PEREZ')
('CARRIE', 'PORTER')
('CASEY', 'MENA')
('CASSANDRA', 'WALTERS')
('CATHERINE', 'CAMPBELL')
('CATHY', 'SPENCER')
('CECIL', 'VINES')
('CHAD', 'CARBONE')
('CHARLENE', 'ALVAREZ')
('CHARLES', 'KOWALSKI')
('CHARLIE', 'BESS')
('CHARLOTTE', 'HUNTER')
('CHERYL', 'MURPHY')
('CHESTER', 'BENNER')
('CHRIS', 'BROTHERS')
('CHRISTIAN', 'JUNG')
('CHRISTINA', 'RAMIREZ')
('CHRISTINE', 'ROBERTS')
('CHRISTOPHER', 'GRECO')
('CHRISTY', 'VARGAS')
('CINDY', 'FISHER')
('CLARA', 'SHAW')
('CLARENCE', 'GAMEZ')
('CLAUDE', 'HERZOG')
('CLAUDIA', 'FULLER')
('CLAYTON', 'BARBEE')
('CLIFFORD', 'BOWENS')
('CLIFTON', 'MALCOLM')
('CLINTON', 'BUFORD')
('CLYDE', 'TOBIAS')
('CODY', 'NOLEN')
('COLLEEN', 'BURTON')
('CONNIE', 'WALLACE')
('CONSTANCE', 'REID')
('COREY', 'HAUSER')
('CORY', 'MEEHAN')
('COURTNEY', 'DAY')
('CRAIG', 'MORRELL')
('CRYSTAL', 'FORD')
('CURTIS', 'IRBY')
('CYNTHIA', 'YOUNG')
('DAISY', 'BATES')
('DALE', 'RATCLIFF')
('DAN', 'PAINE')
('DANA', 'HART')
('DANIEL', 'CABRAL')
('DANIELLE', 'DANIELS')
('DANNY', 'ISOM')
('DARLENE', 'ROSE')
('DARRELL', 'POWER')
('DARREN', 'WINDHAM')
('DARRYL', 'ASHCRAFT')
('DARYL', 'LARUE')
('DAVE', 'GARDINER')
('DAVID', 'ROYAL')
('DAWN', 'SULLIVAN')
('DEAN', 'SAUER')
('DEANNA', 'BYRD')
('DEBBIE', 'REYES')
('DEBORAH', 'WALKER')
('DEBRA', 'NELSON')
('DELORES', 'HANSEN')
('DENISE', 'KELLY')
('DENNIS', 'GILMAN')
('DEREK', 'BLAKELY')
('DERRICK', 'BOURQUE')
('DIANA', 'ALEXANDER')
('DIANE', 'COLLINS')
('DIANNE', 'SHELTON')
('DOLORES', 'WAGNER')
('DON', 'BONE')
('DONALD', 'MAHON')
('DONNA', 'THOMPSON')
('DORA', 'MEDINA')
('DORIS', 'REED')
('DOROTHY', 'TAYLOR')
('DOUGLAS', 'GRAF')
('DUANE', 'TUBBS')
('DUSTIN', 'GILLETTE')
('DWAYNE', 'OLVERA')
('DWIGHT', 'LOMBARDI')
('EARL', 'SHANKS')
('EDDIE', 'TOMLIN')
('EDGAR', 'RHOADS')
('EDITH', 'MCDONALD')
('EDNA', 'WEST')
('EDUARDO', 'HIATT')
('EDWARD', 'BAUGH')
('EDWIN', 'BURK')
('EILEEN', 'CARR')
('ELAINE', 'STEVENS')
('ELEANOR', 'HUNT')
('ELIZABETH', 'BROWN')
('ELLA', 'OLIVER')
('ELLEN', 'SIMPSON')
('ELMER', 'NOE')
('ELSIE', 'KELLEY')
('EMILY', 'DIAZ')
('EMMA', 'BOYD')
('ENRIQUE', 'FORSYTHE')
('ERIC', 'ROBERT')
('ERICA', 'MATTHEWS')
('ERIK', 'GUILLEN')
('ERIKA', 'PENA')
('ERIN', 'DUNN')
('ERNEST', 'STEPP')
('ESTHER', 'CRAWFORD')
('ETHEL', 'WEBB')
('EUGENE', 'CULPEPPER')
('EVA', 'RAMOS')
('EVELYN', 'MORGAN')
('EVERETT', 'BANDA')
('FELICIA', 'SUTTON')
('FELIX', 'GAFFNEY')
('FERNANDO', 'CHURCHILL')
('FLORENCE', 'WOODS')
('FLOYD', 'GANDY')
('FRANCES', 'PARKER')
('FRANCIS', 'SIKES')
('FRANCISCO', 'SKIDMORE')
('FRANK', 'WAGGONER')
('FRANKLIN', 'TROUTMAN')
('FRED', 'WHEAT')
('FREDDIE', 'DUGGAN')
('FREDERICK', 'ISBELL')
('GABRIEL', 'HARDER')
('GAIL', 'KNIGHT')
('GARY', 'COY')
('GENE', 'SANBORN')
('GEORGE', 'LINTON')
('GEORGIA', 'JACOBS')
('GERALD', 'FULTZ')
('GERALDINE', 'PERKINS')
('GERTRUDE', 'CASTILLO')
('GILBERT', 'SLEDGE')
('GINA', 'WILLIAMSON')
('GLADYS', 'HAMILTON')
('GLEN', 'TALBERT')
('GLENDA', 'FRAZIER')
('GLENN', 'PULLEN')
('GLORIA', 'COOK')
('GORDON', 'ALLARD')
('GRACE', 'ELLIS')
('GREG', 'ROBINS')
('GREGORY', 'MAULDIN')
('GUY', 'BROWNLEE')
('GWENDOLYN', 'MAY')
('HAROLD', 'MARTINO')
('HARRY', 'ARCE')
('HARVEY', 'GUAJARDO')
('HAZEL', 'WARREN')
('HEATHER', 'MORRIS')
('HECTOR', 'POINDEXTER')
('HEIDI', 'LARSON')
('HELEN', 'HARRIS')
('HENRY', 'BILLINGSLEY')
('HERBERT', 'KRUGER')
('HERMAN', 'DEVORE')
('HILDA', 'HOPKINS')
('HOLLY', 'FOX')
('HOWARD', 'FORTNER')
('HUGH', 'WALDROP')
('IAN', 'STILL')
('IDA', 'ANDREWS')
('IRENE', 'PRICE')
('IRMA', 'PEARSON')
('ISAAC', 'OGLESBY')
('IVAN', 'CROMWELL')
('JACK', 'FOUST')
('JACKIE', 'LYNCH')
('JACOB', 'LANCE')
('JACQUELINE', 'LONG')
('JAIME', 'NETTLES')
('JAMES', 'GANNON')
('JAMIE', 'RICE')
('JAMIE', 'WAUGH')
('JANE', 'BENNETT')
('JANET', 'PHILLIPS')
('JANICE', 'WARD')
('JARED', 'ELY')
('JASON', 'MORRISSEY')
('JAVIER', 'ELROD')
('JAY', 'ROBB')
('JEAN', 'BELL')
('JEANETTE', 'GREENE')
('JEANNE', 'LAWSON')
('JEFF', 'EAST')
('JEFFERY', 'PINSON')
('JEFFREY', 'SPEAR')
('JENNIE', 'TERRY')
('JENNIFER', 'DAVIS')
('JENNY', 'CASTRO')
('JEREMY', 'HURTADO')
('JEROME', 'KENYON')
('JERRY', 'JORDON')
('JESSE', 'SCHILLING')
('JESSICA', 'HALL')
('JESSIE', 'BANKS')
('JESSIE', 'MILAM')
('JESUS', 'MCCARTNEY')
('JILL', 'HAWKINS')
('JIM', 'REA')
('JIMMIE', 'EGGLESTON')
('JIMMY', 'SCHRADER')
('JO', 'FOWLER')
('JOAN', 'COOPER')
('JOANN', 'GARDNER')
('JOANNE', 'ROBERTSON')
('JOE', 'GILLILAND')
('JOEL', 'FRANCISCO')
('JOHN', 'FARNSWORTH')
('JOHNNIE', 'CHISHOLM')
('JOHNNY', 'TURPIN')
('Jon', 'Stephens')
('JON', 'WILES')
('JONATHAN', 'SCARBOROUGH')
('JORDAN', 'ARCHULETA')
('JORGE', 'OLIVARES')
('JOSE', 'ANDREW')
('JOSEPH', 'JOY')
('JOSEPHINE', 'GOMEZ')
('JOSHUA', 'MARK')
('JOY', 'GEORGE')
('JOYCE', 'EDWARDS')
('JUAN', 'FRALEY')
('JUANITA', 'MASON')
('JUDITH', 'COX')
('JUDY', 'GRAY')
('JULIA', 'FLORES')
('JULIAN', 'VEST')
('JULIE', 'SANCHEZ')
('JULIO', 'NOLAND')
('JUNE', 'CARROLL')
('JUSTIN', 'NGO')
('KAREN', 'JACKSON')
('KARL', 'SEAL')
('KATHERINE', 'RIVERA')
('KATHLEEN', 'ADAMS')
('KATHRYN', 'COLEMAN')
('KATHY', 'JAMES')
('KATIE', 'ELLIOTT')
('KAY', 'CALDWELL')
('KEITH', 'RICO')
('KELLY', 'KNOTT')
('KELLY', 'TORRES')
('KEN', 'PREWITT')
('KENNETH', 'GOODEN')
('KENT', 'ARSENAULT')
('KEVIN', 'SCHULER')
('KIM', 'CRUZ')
('KIMBERLY', 'LEE')
('KIRK', 'STCLAIR')
('KRISTEN', 'CHAVEZ')
('KRISTIN', 'JOHNSTON')
('KRISTINA', 'CHAMBERS')
('KURT', 'EMMONS')
('KYLE', 'SPURLOCK')
('LANCE', 'PEMBERTON')
('LARRY', 'THRASHER')
('LAURA', 'RODRIGUEZ')
('LAUREN', 'HUDSON')
('LAURIE', 'LAWRENCE')
('LAWRENCE', 'LAWTON')
('LEAH', 'CURTIS')
('LEE', 'HAWKS')
('LENA', 'JENSEN')
('LEO', 'EBERT')
('LEON', 'BOSTIC')
('LEONA', 'OBRIEN')
('LEONARD', 'SCHOFIELD')
('LEROY', 'BUSTAMANTE')
('LESLIE', 'GORDON')
('LESLIE', 'SEWARD')
('LESTER', 'KRAUS')
('LEWIS', 'LYMAN')
('LILLIAN', 'GRIFFIN')
('LILLIE', 'KIM')
('LINDA', 'WILLIAMS')
('LISA', 'ANDERSON')
('LLOYD', 'DOWD')
('LOIS', 'BUTLER')
('LONNIE', 'TIRADO')
('LORETTA', 'CARPENTER')
('LORI', 'WOOD')
('LORRAINE', 'STEPHENS')
('LOUIS', 'LEONE')
('LOUISE', 'JENKINS')
('LUCILLE', 'HOLMES')
('LUCY', 'WHEELER')
('LUIS', 'YANEZ')
('LYDIA', 'BURKE')
('LYNN', 'PAYNE')
('MABEL', 'HOLLAND')
('MAE', 'FLETCHER')
('MANUEL', 'MURRELL')
('MARC', 'OUTLAW')
('MARCIA', 'DEAN')
('MARCUS', 'HIDALGO')
('MARGARET', 'MOORE')
('MARGIE', 'WADE')
('MARIA', 'MILLER')
('MARIAN', 'MENDOZA')
('MARIE', 'TURNER')
('MARILYN', 'ROSS')
('MARIO', 'CHEATHAM')
('MARION', 'OCAMPO')
('MARION', 'SNYDER')
('MARJORIE', 'TUCKER')
('MARK', 'RINEHART')
('MARLENE', 'WELCH')
('MARSHA', 'DOUGLAS')
('MARSHALL', 'THORN')
('MARTHA', 'GONZALEZ')
('MARTIN', 'BALES')
('MARVIN', 'YEE')
('MARY', 'SMITH')
('MATHEW', 'BOLIN')
('MATTHEW', 'MAHAN')
('MATTIE', 'HOFFMAN')
('MAUREEN', 'LITTLE')
('MAURICE', 'CRAWLEY')
('MAX', 'PITT')
('MAXINE', 'SILVA')
('MEGAN', 'PALMER')
('MELANIE', 'ARMSTRONG')
('MELINDA', 'FERNANDEZ')
('MELISSA', 'KING')
('MELVIN', 'ELLINGTON')
('MICHAEL', 'SILVERMAN')
('MICHEAL', 'FORMAN')
('MICHELE', 'GRANT')
('MICHELLE', 'CLARK')
('MIGUEL', 'BETANCOURT')
('Mike', 'Hillyer')
('MIKE', 'WAY')
('MILDRED', 'BAILEY')
('MILTON', 'HOWLAND')
('MINNIE', 'ROMERO')
('MIRIAM', 'MCKINNEY')
('MISTY', 'LAMBERT')
('MITCHELL', 'WESTMORELAND')
('MONICA', 'HICKS')
('MORRIS', 'MCCARTER')
('MYRTLE', 'FLEMING')
('NANCY', 'THOMAS')
('NAOMI', 'JENNINGS')
('NATALIE', 'MEYER')
('NATHAN', 'RUNYON')
('NATHANIEL', 'ADAM')
('NEIL', 'RENNER')
('NELLIE', 'GARRETT')
('NELSON', 'CHRISTENSON')
('NICHOLAS', 'BARFIELD')
('NICOLE', 'PETERSON')
('NINA', 'SOTO')
('NORA', 'HERRERA')
('NORMA', 'GONZALES')
('NORMAN', 'CURRIER')
('OLGA', 'JIMENEZ')
('OSCAR', 'AQUINO')
('PAMELA', 'BAKER')
('PATRICIA', 'JOHNSON')
('PATRICK', 'NEWSOM')
('PATSY', 'DAVIDSON')
('PAUL', 'TROUT')
('PAULA', 'BRYANT')
('PAULINE', 'HENRY')
('PEARL', 'GARZA')
('PEDRO', 'CHESTNUT')
('PEGGY', 'MYERS')
('PENNY', 'NEAL')
('PERRY', 'SWAFFORD')
('PETER', 'MENARD')
('PHILIP', 'CAUSEY')
('PHILLIP', 'HOLM')
('PHYLLIS', 'FOSTER')
('PRISCILLA', 'LOWE')
('RACHEL', 'BARNES')
('RAFAEL', 'ABNEY')
('RALPH', 'MADRIGAL')
('RAMON', 'CHOATE')
('RAMONA', 'HALE')
('RANDALL', 'NEUMANN')
('RANDY', 'GAITHER')
('RAUL', 'FORTIER')
('RAY', 'HOULE')
('RAYMOND', 'MCWHORTER')
('REBECCA', 'SCOTT')
('REGINA', 'BERRY')
('REGINALD', 'KINDER')
('RENE', 'MCALISTER')
('RENEE', 'LANE')
('RHONDA', 'KENNEDY')
('RICARDO', 'MEADOR')
('RICHARD', 'MCCRARY')
('RICK', 'MATTOX')
('RICKY', 'SHELBY')
('RITA', 'GRAHAM')
('ROBERT', 'BAUGHMAN')
('ROBERTA', 'HARPER')
('ROBERTO', 'VU')
('ROBIN', 'HAYES')
('RODNEY', 'MOELLER')
('ROGER', 'QUINTANILLA')
('ROLAND', 'SOUTH')
('RON', 'DELUCA')
('RONALD', 'WEINER')
('RONNIE', 'RICKETTS')
('ROSA', 'REYNOLDS')
('ROSE', 'HOWARD')
('ROSEMARY', 'SCHMIDT')
('ROSS', 'GREY')
('ROY', 'WHITING')
('RUBEN', 'GEARY')
('RUBY', 'WASHINGTON')
('RUSSELL', 'BRINSON')
('RUTH', 'MARTINEZ')
('RYAN', 'SALISBURY')
('SALLY', 'PIERCE')
('SALVADOR', 'TEEL')
('SAM', 'MCDUFFIE')
('SAMANTHA', 'DUNCAN')
('SAMUEL', 'MARLOW')
('SANDRA', 'MARTIN')
('SARA', 'PERRY')
('SARAH', 'LEWIS')
('SCOTT', 'SHELLEY')
('SEAN', 'DOUGLASS')
('SERGIO', 'STANFIELD')
('SETH', 'HANNON')
('SHANE', 'MILLARD')
('SHANNON', 'FREEMAN')
('SHARON', 'ROBINSON')
('SHAWN', 'HEATON')
('SHEILA', 'WELLS')
('SHELLY', 'WATTS')
('SHERRI', 'RHODES')
('SHERRY', 'MARSHALL')
('SHIRLEY', 'ALLEN')
('SIDNEY', 'BURLESON')
('SONIA', 'GREGORY')
('STACEY', 'MONTGOMERY')
('STACY', 'CUNNINGHAM')
('STANLEY', 'SCROGGINS')
('STELLA', 'MORENO')
('STEPHANIE', 'MITCHELL')
('STEPHEN', 'QUALLS')
('STEVE', 'MACKENZIE')
('STEVEN', 'CURLEY')
('SUE', 'PETERS')
('SUSAN', 'WILSON')
('SUZANNE', 'NICHOLS')
('SYLVIA', 'ORTIZ')
('TAMARA', 'NGUYEN')
('TAMMY', 'SANDERS')
('TANYA', 'GILBERT')
('TARA', 'RYAN')
('TED', 'BREAUX')
('TERESA', 'ROGERS')
('TERRANCE', 'ROUSH')
('TERRENCE', 'GUNDERSON')
('TERRI', 'VASQUEZ')
('TERRY', 'CARLSON')
('TERRY', 'GRISSOM')
('THELMA', 'MURRAY')
('THEODORE', 'CULP')
('THERESA', 'WATSON')
('THOMAS', 'GRIGSBY')
('TIFFANY', 'JORDAN')
('TIM', 'CARY')
('TIMOTHY', 'BUNN')
('TINA', 'SIMMONS')
('TODD', 'TAN')
('TOM', 'MILNER')
('TOMMY', 'COLLAZO')
('TONI', 'HOLT')
('TONY', 'CARRANZA')
('TONYA', 'CHAPMAN')
('TRACEY', 'BARRETT')
('TRACY', 'COLE')
('TRACY', 'HERRMANN')
('TRAVIS', 'ESTEP')
('TROY', 'QUIGLEY')
('TYLER', 'WREN')
('TYRONE', 'ASHER')
('VALERIE', 'BLACK')
('VANESSA', 'SIMS')
('VELMA', 'LUCAS')
('VERA', 'MCCOY')
('VERNON', 'CHAPA')
('VERONICA', 'STONE')
('VICKI', 'FIELDS')
('VICKIE', 'BREWER')
('VICTOR', 'BARKLEY')
('VICTORIA', 'GIBSON')
('VINCENT', 'RALSTON')
('VIOLA', 'HANSON')
('VIOLET', 'RODRIQUEZ')
('VIRGIL', 'WOFFORD')
('VIRGINIA', 'GREEN')
('VIVIAN', 'RUIZ')
('WADE', 'DELVALLE')
('WALLACE', 'SLONE')
('WALTER', 'PERRYMAN')
('WANDA', 'PATTERSON')
('WARREN', 'SHERROD')
('WAYNE', 'TRUONG')
('WENDY', 'HARRISON')
('WESLEY', 'BULL')
('WILLARD', 'LUMPKIN')
('WILLIAM', 'SATTERFIELD')
('WILLIE', 'HOWELL')
('WILLIE', 'MARKHAM')
('WILMA', 'RICHARDS')
('YOLANDA', 'WEAVER')
('YVONNE', 'WATKINS')
('ZACHARY', 'HITE')

In [25]:
ia.sender(answer="sql_ex09", task="views", question="ex09", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex09', style=ButtonStyle()), Output()), _dom_classes=('widget…

## Desafios!

Faça uma lista de filmes que tenham mais de dois atores cujo nome inicia com a mesma letra do título do filme! Apresente o nome e a quantidade de atores. Ordene pelo id do filme. Dica: Pesquie a função `LEFT`

In [35]:
sql_ex10 = """
SELECT f.title, count(a.actor_id) as target FROM actor as a
INNER JOIN film_actor as fa ON fa.actor_id = a.actor_id
INNER JOIN film as f ON f.film_id = fa.film_id
WHERE LEFT(a.first_name,1) = LEFT(f.title,1)
GROUP BY f.film_id
HAVING target > 2
ORDER BY f.film_id;
"""
db(sql_ex10)

Executando query:
('CROW GREASE', 3)
('JEDI BENEATH', 3)
('SUBMARINE BED', 3)

In [36]:
ia.sender(answer="sql_ex10", task="views", question="ex10", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex10', style=ButtonStyle()), Output()), _dom_classes=('widget…

Semana do "DAN HARRIS": liste os clientes (nome e sobrenome) que nunca assistiram um filme do ator "DAN HARRIS" ou que já assistiram mas a ultima vez em que assistiram um filme dele foi antes de '2005-06-01'. Ordene pelo nome e sobrenome do cliente.

Considerem que a pessoa pode ter assistido um filme de Dan Harris se:

- Devolveu em 2005-06-01 ou depois
- Alugou em 2005-06-01 ou depois
- Alugou antes de 2005-06-01 e ainda não devolveu

In [ ]:
sql_ex11 = """
-- SUA QUERY AQUI!
"""
db(sql_ex11)

In [ ]:
ia.sender(answer="sql_ex11", task="views", question="ex11", answer_type="pyvar")

- Faça uma consulta que retorne, para cada ator, a seguinte informação:

| first_name | last_name | filmes por categoria |
|--|--|--|
| PENELOPE | GUINESS | Animation: ANACONDA CONFESSIONS; Children: LANGUAGE COWBOY; Classics: COLOR PHILADELPHIA, WESTWARD SEABISCUIT; Comedy: VERTIGO NORTHWEST; Documentary: ACADEMY DINOSAUR; Family: KING EVOLUTION, SPLASH GUMP; Foreign: MULHOLLAND BEAST; Games: BULWORTH COMMANDMENTS, HUMAN GRAFFITI; Horror: ELEPHANT TROJAN, LADY STAGE, RULES HUMAN; Music: WIZARD COLDBLOODED; New: ANGELS LIFE, OKLAHOMA JUMANJI; Sci-Fi: CHEAPER CLYDE; Sports: GLEAMING JAWBREAKER |
| NICK | WAHLBERG | Action: BULL SHAWSHANK; Animation: FIGHT JAWBREAKER; Children: JERSEY SASSY; Classics: DRACULA CRYSTAL, GILBERT PELICAN; Comedy: MALLRATS UNITED, RUSHMORE MERMAID; Documentary: ADAPTATION HOLES; Drama: WARDROBE PHANTOM; Family: APACHE DIVINE, CHISUM BEHAVIOR, INDIAN LOVE, MAGUIRE APACHE; Foreign: BABY HALL, HAPPINESS UNITED; Games: ROOF CHAMPION; Music: LUCKY FLYING; New: DESTINY SATURDAY, FLASH WARS, JEKYLL FROGMEN, MASK PEACH; Sci-Fi: CHAINSAW UPTOWN, GOODFELLAS SALUTE; Travel: LIAISONS SWEET, SMILE EARRING |
| etc | etc | etc |

Ordene pelo nome e sobrenome do ator.

Dica: use `GROUP_CONCAT` para agrupar todas as strings de uma coluna em uma string só, e `CONCAT` para unir strings particulares.

In [ ]:
sql_ex12 = """
-- SUA QUERY AQUI!
"""

db(sql_ex12)

In [ ]:
ia.sender(answer="sql_ex12", task="views", question="ex12", answer_type="pyvar")

## Conclusão

Façamos uma pausa para apreciar quão longe estamos: já conseguimos criar nossas tabelas, inserir informação, removê-la, atualizá-la, e consultar nossa base de maneiras bem sofisticadas! Vimos desde `SELECT` simples até buscas mais complexas envolvendo várias etapas de processamento para obter o dado desejado.

Por hoje é só, feche sua conexão e bom descanso!

In [ ]:
connection.close()

## Conferir Notas

Confira se as notas na atividade são as esperadas!

Primeiro na atividade atual!

In [3]:
ia.grades(by="TASK", task="views")

|    | Tarefa   |   Nota |
|---:|:---------|-------:|
|  0 | views    |   8.33 |

In [4]:
ia.grades(task="views")

|    | Atividade   | Exercício   |   Peso |   Nota |
|---:|:------------|:------------|-------:|-------:|
|  0 | views       | ex01        |      1 |     10 |
|  1 | views       | ex02        |      1 |     10 |
|  2 | views       | ex03        |      1 |     10 |
|  3 | views       | ex04        |      1 |     10 |
|  4 | views       | ex05        |      1 |     10 |
|  5 | views       | ex06        |      1 |     10 |
|  6 | views       | ex07        |      1 |     10 |
|  7 | views       | ex08        |      1 |     10 |
|  8 | views       | ex09        |      1 |     10 |
|  9 | views       | ex10        |      1 |     10 |
| 10 | views       | ex11        |      1 |      0 |
| 11 | views       | ex12        |      1 |      0 |

In [2]:
ia.grades(by="task")

|    | Tarefa       |   Nota |
|---:|:-------------|-------:|
|  0 | agg_join     |  10    |
|  1 | ddl          |   8.89 |
|  2 | dml          |  10    |
|  3 | group_having |  10    |
|  4 | newborn      |  10    |
|  5 | select01     |  10    |
|  6 | sql_review1  |   0    |
|  7 | views        |   8.33 |